{% macro label_filter(label,id,type) %}
    {% import _self as filters %}
    <label class="label-filter text-center">
        {{ label|trans({},'labels')}}
    </label>
    {% if id is not iterable %}
        {{ filters.eraser(id,type) }}
    {% endif %}
{% endmacro %}

{% macro eraserAll(searchManager) %}
    {% set id = uniqueId() %}
    <a id="{{ id }}" href="javascript:;" class="eraser-all btn btn-primary" title="Clear all" onclick="clearAllFilters()">
        <i class="{{get_parameter('maximosojo_tools.service.search_manager.icons.clean')}}"></i>
        {{"search_manager.filter.clean_all"|trans({},"ToolsBundle")}}
    </a>
{% endmacro %}

{% macro eraser(ids,type) %}
    {#{% if ids is not iterable %}
        {% set ids = [ids] %}
    {% endif %}
    {% set id2 = uniqueId() %}#}

    <a 
        href="javascript:;" 
        class="float-right eraser text-danger"
        onclick="clearFilters('{{ ids }}','{{ type }}')"
        data-toggle="tooltip"
        data-placement="top" title=""
        data-original-title="{{"search_manager.filter.label"|trans({},"ToolsBundle")}}"
        >
        <i class="{{get_parameter('maximosojo_tools.service.search_manager.icons.clean')}}"></i>
        {#{{"search_manager.filter.clean"|trans({},"ToolsBundle")}}#}
    </a>
    {#<script>
        $(document).ready(function(){
            // showHover();
            $("#{{ id2 }}").on("click", function () {
                {% for id in ids %}
                    var input = $("#{{ id }},.{{ id }}");
                    {% if type == "select" %}
                        input.select2("val", "");
                        var html = input.html();
                        input.html("");
                        input.html(html);
                        input.each(function(){
                            $(this).prop('selectedIndex', 0);
                            $('option', this).removeAttr('selected');
                        });
                        input.trigger("change");
                    {% elseif type == "select2" %}
                        input.select2("val", "");
                        input.html("");
                        input.trigger("change");
                    {% elseif type == "input" %}
                        input.val("");
                        input.val(null);
                        input.trigger("change");
                    {% endif %}        
                {% endfor %}
            });
        });
    </script>#}
{% endmacro %}

{% block input %}
    {% set modelName = modelName|replace({'.': '__'}) %}
    {% import _self as filters %}
    {% if id is null %}
        {% set id = uniqueId() %}
    {% endif %}

    <div class="form-group" ng-init="initWatch('{{ modelName }}')">
        {{ filters.label_filter(label,id,'input') }}
        <input id="{{ id }}" class="form-control" ng-model="model.{{ modelName }}" placeholder="{{"search_manager.filter.input.placeholder"|trans({},"ToolsBundle")}}{{ label|trans({},'labels')}}"/>
    </div>
{% endblock %}

{% macro select(label,modelName,values,parameters,searchManager) %}
    {% set modelName = modelName|replace({'.': '__'}) %}

    {% import _self as filters %}

    {% set multiple = true %}
    {% set id = uniqueId() %}
    {% if parameters %}
        {% if parameters["multiple"] is defined and parameters["multiple"] == false %}
            {% set multiple = false %}
        {% endif %}
    {% endif %}
    {% if values is null %}
        {% set values = currentFilter.parameter('values',[]) %}
    {% endif %}

    <div class="form-group" ng-init="initWatch('{{ modelName }}')">
        {{ filters.label_filter(label,id,'select') }}
        <div class="filters">
            <select id="{{ id }}"  {% if multiple %} multiple="multiple" {% endif %} class="form-control select2filters" ng-model="model.{{ modelName }}">
                <option value=""></option>
                {% for key,value in values %}
                    <option value="{{ value }}">{{ key|trans({},'labels') }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% block select2Entity %}
    {% import _self as filters %}

    {% set modelName = modelName|replace({'.': '__'}) %}

    {% set id = uniqueId() %}
    {% if currentFilter.parameter('id') %}
        {% set id = currentFilter.parameter('id') %}
    {% endif %}

    {% set page_limit = 10 %}
    {% if currentFilter.parameter('page_limit') %}
        {% set page_limit = currentFilter.parameter('page_limit') %}
    {% endif %}

    {% set remoteParams = {
        maxPerPage:  page_limit 
    } %}
    {% if currentFilter.parameter('remote_params') %}
        {%- set remoteParams = remoteParams|merge(currentFilter.parameter('remote_params')) -%}
    {% endif %}
    
    <div class="form-group" ng-init="initWatch('{{ modelName }}')">
        {{ filters.label_filter(label,id,'select2') }}
        <div class="filters">
            <select
                id="{{id}}"
                {% if currentFilter.parameter('name') %}
                    name="{{ currentFilter.parameter('name') }}"
                {% endif %}
                class="form-control select2entity select2-hidden-accessible"
                autocomplete="off"
                {% if currentFilter.parameter('ajax_url') %}
                    data-ajax--url="{{ path(currentFilter.parameter('ajax_url'),remoteParams) }}"
                {% endif %}
                data-ajax--cache-timeout="1"
                data-ajax--delay="250"
                data-ajax--data-type="json"
                data-language="es"
                data-minimum-input-length="0"
                data-placeholder="{{"search_manager.filter.select.empty"|trans({},"ToolsBundle")}}"
                data-page-limit="{{page_limit}}"
                data-scroll="false"
                data-autostart="true"
                tabindex="-1"
                {% if currentFilter.parameter('req_params') %}
                    data-req_params="{{ currentFilter.parameter('req_params') }}"
                {% endif %}
                {% if currentFilter.parameter('multiple') %}
                    multiple
                {% endif %}
                select2
                ng-model="model.{{ modelName }}"
                aria-hidden="true"></select>
        
        </div>
    </div>
{% endblock %}

{% block date %}
    {% set modelName = modelName|replace({'.': '__'}) %}
    {% import _self as filters %}
    {% if id is null %}
        {% set id = uniqueId() %}
    {% endif %}

    <div class="form-group" ng-init="initWatch('{{ modelName }}')">
        {{ filters.label_filter(label,id,'input') }}
        <input type="date" id="{{ id }}" class="form-control" ng-model="model.{{ modelName }}" placeholder="{{"search_manager.filter.input.placeholder"|trans({},"ToolsBundle")}}{{ label|trans({},'labels')}}"/>
    </div>
{% endblock %}