{% macro label_filter(label,id,type) %}
    {% import _self as filters %}
    <label class="label-filter text-center">
        {{ label|trans({},'labels')}}
    </label>
    {{ filters.eraser(id,type) }}
{% endmacro %}

{% macro eraserAll(searchManager) %}
    {% set id = uniqueId() %}
    <a id="{{ id }}" href="javascript:;" class="eraser-all btn btn-primary" title="Clear all" onclick="clearAllFilters()">
        <i class="{{get_parameter('maxtoan_tools.service.search_manager.icons.clean')}}"></i>
        {{"search_manager.filter.clean_all"|trans({},"ToolsBundle")}}
    </a>
{% endmacro %}

{% macro eraser(id,type) %}
    <a 
        href="javascript:;" 
        class="float-right eraser text-danger"
        onclick="clearFilters('{{ id }}','{{ type }}')"
        data-toggle="tooltip"
        data-placement="top" title=""
        data-original-title="{{"search_manager.filter.label"|trans({},"ToolsBundle")}}"
        >
        <i class="{{get_parameter('maxtoan_tools.service.search_manager.icons.clean')}}"></i>
        {#{{"search_manager.filter.clean"|trans({},"ToolsBundle")}}#}
    </a>
{% endmacro %}

{% block input %}
    {% set modelName = modelName|replace({'.': '__'}) %}
    {% import _self as filters %}
    {% if id is null %}
        {% set id = uniqueId() %}
    {% endif %}

    <div class="form-group" ng-init="initWatch('{{ modelName }}')">
        {{ filters.label_filter(label,id,'input') }}
        <input id="{{ id }}" class="form-control" ng-model="model.{{ modelName }}" placeholder="{{"search_manager.filter.input.placeholder"|trans({},"ToolsBundle")}}{{ label|trans({},'labels')}}"/>
    </div>
{% endblock %}

{% macro select(label,modelName,values,parameters,searchManager) %}
    {% set modelName = modelName|replace({'.': '__'}) %}

    {% import _self as filters %}

    {% set multiple = true %}
    {% set id = uniqueId() %}
    {% if parameters %}
        {% if parameters["multiple"] is defined and parameters["multiple"] == false %}
            {% set multiple = false %}
        {% endif %}
    {% endif %}
    {% if values is null %}
        {% set values = currentFilter.parameter('values',[]) %}
    {% endif %}

    <div class="form-group" ng-init="initWatch('{{ modelName }}')">
        {{ filters.label_filter(label,id,'select', searchManager) }}
        <div class="filters">
            <select id="{{ id }}"  {% if multiple %} multiple="multiple" {% endif %} class="form-control select2filters" ng-model="model.{{ modelName }}">
                <option value=""></option>
                {% for key,value in values %}
                    <option value="{{ value }}">{{ key|trans({},'labels') }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% block select2Entity %}
    {% import _self as filters %}

    {% set modelName = modelName|replace({'.': '__'}) %}

    {% set id = uniqueId() %}
    {% if currentFilter.parameter('id') %}
        {% set id = currentFilter.parameter('id') %}
    {% endif %}

    {% set page_limit = 10 %}
    {% if currentFilter.parameter('page_limit') %}
        {% set page_limit = currentFilter.parameter('page_limit') %}
    {% endif %}
    
    <div class="form-group" ng-init="initWatch('{{ modelName }}')">
        {{ filters.label_filter(label,id,'select2', searchManager) }}
        <div class="filters">
            <select
                id="{{id}}"
                {% if currentFilter.parameter('name') %}
                    name="{{ currentFilter.parameter('name') }}"
                {% endif %}
                class="form-control select2entity select2-hidden-accessible"
                autocomplete="off"
                {% if currentFilter.parameter('ajax_url') %}
                    data-ajax--url="{{ path(currentFilter.parameter('ajax_url')) }}?maxPerPage={{page_limit}}"
                {% endif %}
                data-ajax--cache-timeout="1"
                data-ajax--delay="250"
                data-ajax--data-type="json"
                data-language="es"
                data-minimum-input-length="0"
                data-placeholder="{{"search_manager.filter.select.empty"|trans({},"ToolsBundle")}}"
                data-page-limit="{{page_limit}}"
                data-scroll="false"
                data-autostart="true"
                tabindex="-1"
                {% if currentFilter.parameter('req_params') %}
                    data-req_params="{{ currentFilter.parameter('req_params') }}"
                {% endif %}
                select2
                ng-model="model.{{ modelName }}"
                aria-hidden="true"></select>
        
        </div>
    </div>
{% endblock %}