{% set route = app.request.attributes.get('_route') %}
{% set routeParameters = app.request.attributes.get('_route_params') %}
{% set parameters = routeParameters|merge(app.request.query.all) %}

{% set currentPage = paginator.meta.currentPage %}
{% set totalPages = paginator.meta.totalPages %}
{% set totalResults = paginator.meta.totalResults %}

{% if totalPages > 0 and totalResults > 0 %}
    {% set startPage = 1 %}
    {% set endPage = totalPages %}
    
    {% if totalPages > 3 %}
        {% set endPage = currentPage + 4 %}
        {% if endPage > totalPages %}
            {% set endPage = totalPages %}
        {% endif %}

    {% endif %}

    {% if currentPage != 1 and currentPage > 4 %}
        {% set startPage = endPage - 4 %}
    {% endif %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{{path(route,parameters|merge({page: 1}))}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            {% if startPage != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{path(route,parameters|merge({page: (startPage - 1)}))}}">&hellip;</a>
                </li>
            {% endif %}
            
            {% for i in startPage..endPage %}
                {% set class = "active" %}
                {% set path = "javascript:;" %}
                {% if i != currentPage %}
                    {% set class = "" %}
                    {% set path = path(route,parameters|merge({page: i})) %}
                {% endif %}

                <li class="page-item {{class}}">
                    <a class="page-link {{class}}" href="{{path}}">{{i}}</a>
                </li>
            {% endfor %}

            {% if endPage < totalPages %}
                <li class="page-item">
                    <a class="page-link" href="{{path(route,parameters|merge({page: (endPage + 1)}))}}">&hellip;</a>
                </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="{{path(route,parameters|merge({page: totalPages}))}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}